<!DOCTYPE html>
<html>
  <head>
    <title>RailsTumblrApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
          <a class="navbar-brand" href="#"><%= link_to "Post Feed", posts_path, class:"btn btn-info mx-2" %> </a>
            <span class="navbar-text">
              <% if user_signed_in? %>
                    <%= link_to "Make Post", new_post_path, class:"btn btn-info mx-2" %>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-danger mx-2" %>
                    <%= link_to "About", about_path, class:"btn btn-info" %>
              <%end  %>
              <% if !user_signed_in? %>

              <%= link_to "Sign in", new_user_session_path, class:"btn btn-info mx-2"%>
              <% end  %>
            </span>
          </div>
        </nav>

       <div id="main-content" class="container">
         <div id="header">
          <% if current_page?(root_path) %>
              <p>Post Feed</p>
              <% elsif current_page?(about_path) %>
              <p>My site</p>
              <% else %>
              <%= link_to "Back to Post Feed", root_path %>
              <% end  %>
            </div>
        </div>
        <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

         <%= yield %>
         </div>
    </div>

  </body>
</html>
