<!DOCTYPE html>
<html>
  <head>
    <title>RailsTumblrApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
          <a class="navbar-brand" href="#">Post Feed </a>
            <span class="navbar-text">
              <%= link_to "Make Post", new_post_path %>
            </span>
          </div>
        </nav>
      <%= yield %>
    </div>

  </body>
</html>
